@model ViajesEtechEval.Web.Models.Entities.ViajeDisponible

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ViajeDisponible</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodViaje" class="control-label"></label>
                <input asp-for="CodViaje" class="form-control" />
                <span asp-validation-for="CodViaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroPlazas" class="control-label"></label>
                <input asp-for="NroPlazas" class="form-control" />
                <span asp-validation-for="NroPlazas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LugarDestino" class="control-label"></label>
                <input asp-for="LugarDestino" class="form-control" />
                <span asp-validation-for="LugarDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LugarOrigen" class="control-label"></label>
                <input asp-for="LugarOrigen" class="form-control" />
                <span asp-validation-for="LugarOrigen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
